@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --color-primary: #265147;
  --color-primary-light: #DBF0DD;
  --color-secondary: #6E8D76;
  --color-light: #F5F5F5;
}


